<div class="account col-sm-8 center-block">
  <form class="spacing-bottom6">
    <div class="form-group has-feedback {{if errors.email.length 'has-error'}}">
      <label class="sr-only" for="email">{{t 'label.email'}}</label>
      {{input class="input-primary form-control large" type="email" name="email" value="email" placeholder="Email"}}
      <span class="form-control-feedback {{if errors.email.length 'show' 'hide'}}">
        <i class="fa fa-times"></i>
      </span>
    </div>
    <div>
      <input type="hidden" id="client_id" name="client_id" value="escaped_query.client_id">
      <input type="hidden" id="redirect_uri" name="redirect_uri" value="escaped_query.redirect_uri">
      <input type="hidden" id="scope" name="scope" value="escaped_query.scope">
    </div>
    <button id="button-primary" class="btn pop blue block" {{action 'resendConfirmation'}}><span>{{t 'button.request'}}</span></button>
  </form>
  <div class="text-center">
    {{#link-to 'signin' class="btn hollow"}}{{t 'button.signIn'}}{{/link-to}}
  </div>
</div>

<script type="text/javascript">
$(function () {
  function submit() {
    var email = $("#email").val();
    var client_id = $("#client_id").val();
    var redirect_uri = $("#redirect_uri").val();
    var scope = $("#scope").val();

    //send the post via ajax
    if (!validateExists(email, "Email is required", ".forgotPasswordError")) return false;

    $.ajax({
      type: "POST",
      url: "/resend_confirmation_email",
      data: {
        email: email,
        client_id: client_id,
        redirect_uri: redirect_uri,
        scope: scope
      },
      success: function (msg) {
        showInfo(msg);
      },
      error: function (xhr, textStatus, errorThrown) {
        showError(xhr.responseText);
      }
    });
  }

  $('#submit_form').click(function () {
    submit();
  })

  $('#email').keypress(function (e) {
    if (e.which == 13) {
      submit();
    }
  });
})
</script>
