<div class="account col-xs-10 col-sm-5 center-block">
  <form class="account-form spacing-bottom3" role="form">
    <div class="email form-group">
      <label class="sr-only" for="email">Email</label>
      <input type="text" class="input-lg form-control large" id="email" name="email" placeholder="Email">
    </div>
    <div class="password form-group">
      <label class="sr-only" for="password">Password</label>
      <input type="password" class="input-lg form-control large" id="password" name="password" placeholder="Password">
      <input type="hidden" id="client_id" name="client_id" value="{{escaped_query.client_id}}">
      <input type="hidden" id="redirect_uri" name="redirect_uri" value="{{escaped_query.redirect_uri}}">
      <input type="hidden" id="scope" name="scope" value="{{escaped_query.scope}}">
    </div>
    <div class="alertbox form-group"></div>
    <div class="spacing-top3">
      <a href="#" class="btn pop blue large block login_button"><span>Sign in</span></a>
    </div>
    <input type="hidden" name="referer" value="{{referer}}" />
  </form>
  <div class="text-center text-small">
    <a href="/password_reset?client_id={{escaped_query.client_id}}&amp;response_type=code&amp;redirect_uri={{escaped_query.redirect_uri}}&amp;display={{escaped_query.display}}{{#if escaped_query.state}}&amp;state={{escaped_query.state}}{{/if}}{{#if escaped_query.scope}}&amp;scope={{escaped_query.scope}}{{/if}}" class="forgot-pw" onclick="switchContainer('forgotPassword')">Forgot your password?</a>
    <div class="spacing-top6">
      <a class="btn hollow" href="#">Sign up</a>
    </div>
  </div>
</div>
