<div class="route-messaging col-sm-8 center-block text-center spacing-bottom3">
  <h1>{{t "signIn.title"}}</h1>
</div>
<div class="account col-sm-8 center-block">
  {{#if shownSocialLogins.length}}
    <div class="spacing-bottom4">
      <div class="text-center spacing-bottom2">
        {{#each shownSocialLogins as |login|}}
          {{social-signin-button login=login title=(t "button.social.signIn" network=login) socialLogin="socialLogin"}}
        {{/each}}
      </div>
      {{#if termsLink}}
        <p class="text-small">{{t "social.terms.signIn"}} <a href={{termsLink}}>{{t "social.terms.link"}}</a></p>
      {{/if}}
    </div>
    <div class="horizontal-seperator text-center spacing-bottom4">
      <h4>
        <span class="text-uppercase pad-x1">{{t "social.optional"}}</span>
      </h4>
    </div>
  {{/if}}
  <form class="spacing-bottom6">
    <div class="form-group has-feedback {{if errors.email.length 'has-error' 'has-success'}} {{if email.length '' 'empty'}}">
      <label for="email">{{t 'label.email'}}</label>
      {{input class="input-primary form-control large" type="email" name="email" value=email placeholder="your@email.address"}}
      <span class="form-control-feedback {{unless email.length 'hide'}}">
        <i class="fa {{if errors.email.length 'fa-close' 'fa-check'}}"></i>
      </span>
    </div>
    <div class="form-group form-group--relative has-feedback {{if errors.password.length 'has-error' 'has-success'}} {{unless password.length 'empty'}}">
      <label for="password">{{t 'label.password'}}</label>
      {{input class="input-primary form-control large" type="password" name="password" value=password placeholder="supsersecretgremlin"}}
      <div class="text-right spacing-top1">
        {{#link-to 'reset-password' class="form-group__input-link"}}{{t "signIn.label.forgot"}}{{/link-to}}
      </div>
      <span class="form-control-feedback {{unless password.length 'hide'}}">
        <i class="fa {{if errors.password.length 'fa-close' 'fa-check'}}"></i>
      </span>
    </div>
    <div>
      <button id="button-primary" class="btn pop blue large spacing-bottom2" {{action 'signIn'}}><span>{{t 'button.signIn'}}</span></button>
    </div>
  </form>
  <div class="text-center">
    {{#link-to 'signup' (query-params logins=logins) class='btn hollow'}}{{t 'button.signUp'}}{{/link-to}}
  </div>
</div>
