<div class="form-group has-feedback {{if hasError 'has-error'}} {{unless value.length 'empty'}}">
  <label for={{name}}>{{t labelKey}}</label>
  {{input class="input-primary form-control large" type=type name=name value=value placeholder=placeholder}}
  <span class="form-control-feedback {{unless value.length 'hide'}}">
    {{fa-icon icon=(if hasError 'close' 'check')}}
  </span>
</div>
