<div class="account col-xs-10 col-sm-5 center-block">
  <form class="spacing-bottom6">
    <div {{bind-attr class=":form-group :has-feedback errors.email.length:has-error:has-success email.length::empty"}}>
      <label class="sr-only" for="email">{{t 'label.email'}}</label>
      {{input class="form-control large" type="email" id="email" name="email" value=email placeholder="Email"}}
      <span {{bind-attr class=":form-control-feedback email.length::hide"}}>
        <i {{bind-attr class=":fa errors.email.length:fa-close:fa-check"}}></i>
      </span>
    </div>
    <div {{bind-attr class=":form-group :has-feedback errors.password.length:has-error:has-success password.length::empty"}}>
      <label class="sr-only" for="password">{{t 'label.password'}}</label>
      {{input class="form-control large" type="password" id="password" name="password" value=password placeholder="Password"}}
      <span {{bind-attr class=":form-control-feedback password.length::hide"}}>
        <i {{bind-attr class=":fa errors.password.length:fa-close:fa-check"}}></i>
      </span>
    </div>
    <div class="text-small text-center">
      <button class="btn pop blue large block spacing-bottom2" {{action 'signIn'}}><span>{{t 'button.signIn'}}</span></button>

    </div>
  </form>
</div>
