<div class="account col-xs-10 col-sm-5 center-block">
  <form class="spacing-bottom6">
    <div {{bind-attr class=":form-group :has-feedback errors.email.length:has-error email.length::empty"}}>
      <label class="sr-only" for="email">{{t 'label.email'}}</label>
      {{input class="form-control large" type="email" id="email" name="email" value=email placeholder="Email"}}
      <span {{bind-attr class=":form-control-feedback email.length::hide"}}>
        <i {{bind-attr class=":fa errors.email.length:fa-close:fa-check"}}></i>
      </span>
    </div>
    <button class="btn pop blue block" {{action 'resetPassword'}}><span>{{t 'button.reset'}}</span></button>
  </form>
</div>
