<div class="account col-xs-10 col-sm-8 center-block">
  <div class="frame">
    {{#if error}}
    <div class="pad2 text-center">
      <form class="account-form" role="form" action="/user/password" method="post">
        <h4>{{t 'confirmPassword.error.title'}}!</h4>
        <p>{{message}}</p>
      {{else}}
      {{#unless thanks}}
        <div class="pad2 text-center">
          <h4>{{t 'confirmPassword.change.title'}}!</h4>
          <p>{{t 'confirmPassword.change.message'}}</p>
          <div class="spacing-top2">
            <div class="row">
              <div class="col-xs-6">
                <div {{bind-attr class=":form-group :has-feedback errors.password.length:has-error"}}>
                  <label class="sr-only" for="password">{{t 'label.password'}}</label>
                  <input class="form-control" type="password" id="password" name="password" placeholder="New Password">
                  <span {{bind-attr class=":form-control-feedback errors.password.length:show::hide"}}>
                    <i class="fa fa-times"></i>
                  </span>
                </div>
              </div>
              <div class="col-xs-6">
                <div {{bind-attr class=":form-group :has-feedback errors.confirmPassword.length:has-error"}}>
                  <label class="sr-only" for="confirmPassword">{{t 'label.confirm.password'}}</label>
                  <input class="form-control" id="confirmPassword" name="confirmPassword" type="password" placeholder="Confirm Password">
                  <span {{bind-attr class=":form-control-feedback errors.confirmPassword.length:show::hide"}}>
                    <i class="fa fa-times"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div>
            <input type="hidden" id="userId" name="userId" value="userId">
            <input type="hidden" id="resetCode" name="resetCode" value="code">
            <input type="hidden" id="client_id" name="client_id" value="escaped_query.client_id">
            <input type="hidden" id="redirect_uri" name="redirect_uri" value="escaped_query.redirect_uri">
            <input type="hidden" id="scope" name="scope" value="escaped_query.scope">
          </div>
        </div>
      </form>
      <div class="frame-footer">
        <button class="btn pop blue block" {{action 'confirmPassword'}}><span>Confirm</span></button>
        <input {{#if app_settings.enable_GA}}onClick="_gaq.push(['_trackEvent', 'user', 'resetPassword', 'localauth.bloo.ie/reset_password',, false]);"{{/if}} type="submit" value="Go" class="btn pop blue block" />
      </div>
      {{else}}
      <div class="pad2 text-center">
        <h4>{{t 'confirmPassword.success.title'}}!</h4>
        <p>{{t 'confirmPassword.success.message'}}</p>
      </div>
      <div class="frame-footer">
        <a class="btn pop blue block" href="#">{{t 'button.signIn'}}</a>
      </div>
      {{/unless}}
    {{/if}}
  </div>
</div>
