<div class="route-messaging col-sm-8 center-block text-center spacing-bottom3">
  <h1>{{t "enabled.title"}}</h1>
</div>
<div class="account col-sm-8 center-block">
  <div class="frame">
    <div class="pad2 text-center">
      <h4>{{t 'accountEnabled.title'}}</h4>
      <p>{{text-links (t 'accountEnabled.message')}}</p>
    </div>
  </div>

  {{#if model.user.clientId.redirectUrl}}
    <div class="pad2 text-center">
      <a id="button-primary" class="btn pop blue" href={{model.user.clientId.redirectUrl}}><span>Login</span></a>
    </div>
  {{else}}
    {{#if model.settings.authmaker.appDomain}}
      <div class="pad2 text-center">
        <a id="button-primary" class="btn pop blue" href={{model.settings.authmaker.appDomain}}><span>Login</span></a>
      </div>
    {{/if}}
  {{/if}}
</div>
