{{notification-container}}

{{title (t (concat 'titles.' router.currentRouteName))}}

<div class="container">
  <div class="main spacing-bottom4">
    <header class="auth-header text-center pad-y3">
      <h1 class="spacing0">
        <a class="text-hide">{{model.authmaker.app_name}}</a>
      </h1>
    </header>
    {{outlet}}
  </div>
  <footer class="auth-footer text-center text-small">
    <ul class="list-inline">
      {{#if privacyLink}}
        <li><a href={{privacyLink}}>Privacy</a></li>
      {{/if}}

      {{#if termsLink}}
        <li><a href={{termsLink}}>Terms</a></li>
      {{/if}}
    </ul>
    <a class="hide-poweredby" href="http://authmaker.com">{{t "brand.poweredBy"}}</a>
  </footer>
</div>
