<div class="account col-xs-10 col-sm-5 center-block">
  {{#if shownSocialLogins.length}}
    <div class="spacing-bottom4">
      <div class="text-center spacing-bottom2">
        {{#each shownSocialLogins as |login|}}
          {{social-signin-button login=login title=(t "button.social.signUp" network=login) socialLogin="socialLogin"}}
        {{/each}}
      </div>
      {{#if options.termsLink}}
        <p class="text-small">{{t "social.terms.signUp"}} <a href={{options.termsLink}}>{{t "social.terms.link"}}</a></p>
      {{/if}}
    </div>
    <div class="horizontal-seperator text-center spacing-bottom4">
      <h4>
        <span class="text-uppercase pad-x1">{{t "social.optional"}}</span>
      </h4>
    </div>
  {{/if}}
  <form class="spacing-bottom6">
    {{#if options.askName}}
      {{validated-input labelKey='label.name' value=name hasError=errors.name.length placeholder='Name' name='name' id='name' type='text'}}
    {{/if}}

    {{#if options.askCompany}}
      {{validated-input labelKey='label.companyName' value=companyName hasError=errors.companyName.length placeholder='Company name' name='companyName' id='companyName' type='text'}}
    {{/if}}

    {{#if options.askWebsite}}
      {{validated-input labelKey='label.website' value=website hasError=errors.website.length placeholder=(t 'signUp.placeholder.website') name='website' id='website' type='text'}}
    {{/if}}

    {{#if options.askContactNumber}}
      {{validated-input labelKey='label.contactNumber' value=contactNumber hasError=errors.askContactNumber.length placeholder='Contact Number' name='contactNumber' id='contactNumber' type='text'}}
    {{/if}}

    {{validated-input labelKey='label.email' value=email hasError=errors.email.length placeholder='Email' name='email' id='email' type='text'}}

    {{validated-input labelKey='label.password' value=password hasError=errors.password.length placeholder='Password' name='password' id='password' type='password'}}

    {{validated-input labelKey='label.passwordConfirm' value=passwordConfirmation hasError=errors.passwordConfirmation.length placeholder='Confirm Password' name='passwordConfirm' id='passwordConfirm' type='password'}}

    {{#if options.termsLink}}
      <div class="checkbox text-center text-small">
        <label>
          {{input type="checkbox" id="terms" name="terms" checked=terms}}
          {{t "signUp.label.terms"}} <a href={{options.termsLink}}>terms</a>
        </label>
      </div>
    {{/if}}

    {{#if options.emailSubscribe}}
      <div class="checkbox text-center text-small">
        <label>
          {{input type="checkbox" id="emailSubscribe" name="emailSubscribe" checked=emailSubscribe}}
          {{t "signUp.label.emailSubscribe"}}
        </label>
      </div>
    {{/if}}

    <div>
      <input type="hidden" name="client_id" value="escaped_query.client_id">
      <input type="hidden" name="redirect_uri" value="escaped_query.redirect_uri">
      <input type="hidden" name="scope" value="escaped_query.scope">
      <input type="hidden" name="responseType" value="escaped_query.response_type">
      <input type="hidden" name="referer" value="referer">
    </div>
    <div class="spacing-top3">
      <button class="btn pop blue large block spacing-bottom2" {{action 'signUp'}}><span>{{t 'button.signUp'}}</span></button>
    </div>
  </form>
  <div class="text-center">
    {{#link-to 'signin' (query-params logins=logins) class="btn hollow"}}{{t 'button.signIn'}}{{/link-to}}
  </div>
</div>
