<div class="account col-xs-10 col-sm-5 center-block">
  {{#if shownSocialLogins.length}}
    <div class="spacing-bottom4">
      <div class="text-center spacing-bottom2">
        {{#each shownSocialLogins as |login|}}
          {{social-signin-button login=login title=(t "button.social.signUp" network=login) socialLogin="socialLogin"}}
        {{/each}}
      </div>
      <p class="text-small">{{t "social.terms.signUp"}} <a href={{termsLink}}>{{t "social.terms.link"}}</a></p>
    </div>
    <div class="horizontal-seperator text-center spacing-bottom4">
      <h4>
        <span class="text-uppercase pad-x1">{{t "social.optional"}}</span>
      </h4>
    </div>
  {{/if}}
  <form class="spacing-bottom6">
    {{#if askName}}
    <div class="form-group has-feedback {{if errors.email.length 'has-error' 'has-success'}} {{unless email.length 'empty'}}">
      <label class="sr-only" for="email">{{t 'label.name'}}</label>
      {{input class="form-control large" type="text" id="name" name="name" value=name placeholder="Name"}}
      <span class="form-control-feedback {{if name.length 'hide'}}">
        <i class="fa {{if errors.name.length 'fa-close' 'fa-check'}}"></i>
      </span>
    </div>
    {{/if}}
    <div class="form-group has-feedback {{if errors.email.length 'has-error' 'has-success'}} {{unless email.length 'empty'}}">
      <label class="sr-only" for="email">{{t 'label.email'}}</label>
      {{input class="form-control large" type="email" id="email" name="email" value=email placeholder="Email"}}
      <span class="form-control-feedback {{unless email.length 'hide'}}">
        <i class="fa {{if errors.email.length 'fa-close' 'fa-check'}}"></i>
      </span>
    </div>
    <div class="form-group has-feedback {{if errors.password.length 'has-error' 'has-success'}} {{unless password.length 'empty'}}">
      <label class="sr-only" for="password">{{t 'label.password'}}</label>
      {{input class="form-control large" type="password" id="password" name="password" value=password placeholder="Password"}}
      <span class="form-control-feedback {{unless password.length 'hide'}}">
        <i class="fa {{if errors.password.length 'fa-close' 'fa-check'}}"></i>
      </span>
    </div>
    <div class="form-group has-feedback {{if errors.passwordConfirmation.length 'has-error' 'has-success'}} {{unless passwordConfirmation.length 'empty'}}">
      <label class="sr-only" for="password">{{t 'label.passwordConfirm'}}</label>
      {{input class="form-control large" type="password" id="passwordConfirm" name="passwordConfirm" value=passwordConfirmation placeholder="Confirm Password"}}
      <span class="form-control-feedback {{unless passwordConfirmation.length 'hide'}}">
        <i class="fa {{if errors.passwordConfirmation.length 'fa-close' 'fa-check'}}"></i>
      </span>
    </div>
    {{#if termsLink}}
      <div class="checkbox text-center text-small">
        <label>
          {{input type="checkbox" id="terms" name="terms" checked=terms}}
          {{t "signUp.label.terms"}} <a href={{termsLink}}>terms</a>
        </label>
      </div>
    {{/if}}
    <div>
      <input type="hidden" name="client_id" value="escaped_query.client_id">
      <input type="hidden" name="redirect_uri" value="escaped_query.redirect_uri">
      <input type="hidden" name="scope" value="escaped_query.scope">
      <input type="hidden" name="responseType" value="escaped_query.response_type">
      <input type="hidden" name="referer" value="referer">
    </div>
    <div class="spacing-top3">
      <button class="btn pop blue large block spacing-bottom2" {{action 'signUp'}}><span>{{t 'button.signUp'}}</span></button>
    </div>
  </form>
  <div class="text-center">
    {{#link-to 'signin' (query-params logins=logins) class="btn hollow"}}{{t 'button.signIn'}}{{/link-to}}
  </div>
</div>
