<div class="route-messaging col-sm-8 center-block text-center spacing-bottom3">
  <h1>{{t "accountDisabled.title"}}</h1>
</div>
<div class="account col-sm-8 center-block">
  <div class="frame">
    <div class="pad2 text-center">
      {{#if options.isAuthmakerApp}}
        {{authmaker-signup-message options=options}}
      {{else}}
        <h4>{{t 'accountDisabled.header'}}</h4>
        <p>{{t 'accountDisabled.message'}}</p>
      {{/if}}
    </div>
  </div>
  <div class="pad2 text-center">
    <button id="button-primary" class="btn pop blue" {{action 'logOut'}}><span>Sign out</span></button>
  </div>
</div>
