<div class="route-messaging col-sm-8 center-block text-center spacing-bottom3">
  <h1>{{t "accountDisabled.title"}}</h1>
</div>
<div class="account col-sm-8 center-block">
  <div class="frame">
    <div class="pad2 text-center">
      <h4>{{t 'accountDisabled.header'}}</h4>
      <p>{{t 'accountDisabled.message'}}</p>
      {{#if options.formLink}}
        <p>{{t 'accountDisabled.form.message'}}</p>
        <a href={{formLink}} class="btn pop blue" target="_blank" rel="noopener"><span>{{t 'accountDisabled.form.linkText'}}</span></a>
      {{/if}}
    </div>
  </div>
  <div class="pad2 text-center">
    <button id="button-primary" class="btn pop blue" {{action 'logOut'}}><span>Sign out</span></button>
  </div>
</div>
