<div class="account col-xs-10 col-sm-8 center-block">
  <div class="frame">
    <div class="pad2 text-center">
      {{#if error}}
        <h1>Fiddlesticks!</h1>
        <h4>{{error}}</h4>
        <p>Need help getting it sorted? <a href="mailto:help@bloo.ie">Let us know</a>.</p>
      {{else}}
        <h4>Download {{download.name}}</h4>
        <p>Thanks! Your account and payment have been verified. Click below to download JomChat and start the installation process.</p>
      {{/if}}
    </div>
    <div class="frame-footer">
      {{#if error}}
        <a class="btn pop blue block" href="/authorize?client_id={{clientId}}&response_type=code&scope={{scope}}&redirect_uri={{redirectUri}}"><span>Verify account</span></a>
      {{else}}
        <a class="btn pop blue block" href="{{download.link}}"><span>Download</span></a>
      {{/if}}
    </div>
  </div>
</div>
<div class="text-center text-small spacing-top6">
  <a class="btn hollow" href="#">Sign in</a>
</div>
