<div class="account col-xs-10 col-sm-8 center-block">
  <div class="frame spacing-bottom6">
    <div class="pad2 text-center">
      {{#if error}}
        <h4>{{t 'download.error.title'}}!</h4>
        <p>{{error}}</p>
        <p>{{t 'download.error.message.one'}}? <a href="mailto:help@bloo.ie">{{t 'download.error.message.two'}}</a>.</p>
      {{else}}
        <h4>{{t 'download.success.title'}} {{download.name}}</h4>
        <p>{{t 'download.success.message.one'}} {{download.name}} {{t 'download.success.message.two'}}.</p>
      {{/if}}
    </div>
    <div class="frame-footer">
      {{#if error}}
        <a class="btn pop blue block" href="/authorize?client_id={{clientId}}&response_type=code&scope={{scope}}&redirect_uri={{redirectUri}}"><span>{{t 'button.verify'}}</span></a>
      {{else}}
        <a class="btn pop blue block" href="download.link"><span>{{t 'button.download'}}</span></a>
      {{/if}}
    </div>
  </div>
  <div class="text-center">
    {{#link-to 'signin' class="btn hollow"}}{{t 'button.signIn'}}{{/link-to}}
  </div>
</div>
