<h4>{{t 'authmakerAccountDisabled.header'}}</h4>
<p>{{t 'authmakerAccountDisabled.message'}}</p>
{{#if options.showFormLink}}
  <p>{{options.formMessage}}</p>
  <a href={{options.formLink}} class="btn pop blue"><span>{{options.formLinkText}}</span></a>
{{/if}}
